.btn-confirmsteams{
    background-color: rgba(0,255,255);
    box-shadow: 0.5rem 0.5rem  rgba(255,0,255);
    border: 0.5rem solid #FFF;
    color: rgba(0,0,0);
    padding: 0.3rem;
    margin: 2rem;

    &:hover {
        background-color: rgba(255,0,255);
        color: rgba(0,0,0);
        box-shadow: 0.5rem 0.5rem 0 0 rgba(0,255,255);
        border: 0.5rem solid #FFF;
	}
    
}

.btn-skill-teams{
    background-color: rgba(0,255,255);
    box-shadow: 0.5rem 0.5rem  rgba(255,0,255);
    border: 0.5rem solid #FFF;
    color: rgba(0,0,0);
    padding: 0.3rem;
    margin: 2rem;

    &:hover {
        background-color: rgba(255,0,255);
        color: rgba(0,0,0);
        box-shadow: 0.5rem 0.5rem 0 0 rgba(0,255,255);
        border: 0.5rem solid #FFF;
	}

}