.btn-confirmsteams{
    &[disabled] {
        opacity: 0.6;
    }
    background-color:  #D83F87;
    box-shadow: 0.5rem 0.5rem  black;
    border: 0.5rem solid #FFF;
    color: white;
    padding: 0.3rem;
    margin-left: 7%;
    margin-top: 10%;
    height: 10rem;
    font-size: 1.2rem;

    &:hover:not([disabled]) {
        background-color: rgba(255,0,255);
        color: rgba(0,0,0);
        box-shadow: 0.5rem 0.5rem 0 0 rgba(0,255,255);
        border: 0.5rem solid #FFF;
	}
    
}

.btn-skill-teams{
    &[disabled] {
        opacity: 0.6;
    }
    background-color:  #D83F87;
    box-shadow: 0.5rem 0.5rem  black;
    border: 0.5rem solid #FFF;
    color: white;
    padding: 0.3rem;
    margin-top: 10%;
    margin-left: 1%;
    height: 10rem;
    font-size: 1.2rem;

    &:hover:not([disabled]) {
        background-color: rgba(255,0,255);
        color: rgba(0,0,0);
        box-shadow: 0.5rem 0.5rem 0 0 rgba(0,255,255);
        border: 0.5rem solid #FFF;
	}
    
}

.btn-reset{
    height: 4rem;
	width: 6rem;
	padding: 0.8rem;
	background-color: white;
    box-shadow: 0.5rem 0.5rem #2A1B3D;
    position: absolute;
    margin-left: 1%;

	&:hover{
        background-color: rgba(255,0,255);
        color: rgba(0,0,0);
        box-shadow: 0.5rem 0.5rem 0 0 rgba(0,255,255);
        border: 0.5rem solid #FFF;
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .btn-reset{
        position: relative;
    }
    .btn-confirmsteams{
        margin-left: 3%;
        width:90%;
    }
    .btn-skill-teams{
        margin-left: 3%;
        width:90%;
    }
}