.player-header{
    display: flex;
	justify-content: center;
    flex-direction: column;
    margin-left: 30%;
    margin-bottom: 2rem;
    text-align: center;
	background-color: var(--background-box-color);
    box-shadow: 0.5rem 0.5rem var(--box-shadow);
    border: 0.5rem solid white;
	color: white;
	font-size: 3.5rem;
   	padding: 0.3rem;
    width: 40%;
    height: 7rem;

	&:hover {
        background-color: var(--hover-background-box-color);
        color: black;
        box-shadow: 0.5rem 0.5rem 0 0 var(--hover-background-box-shadow);
        border: 0.5rem solid white;
	}

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .player-header{
        width: 90%;
        margin-top: 5%;
        margin-left: 2%;
	}
}

@media only screen  
and (max-width:1420px) {   
    .player-header{
        width: 90%;
        margin-top: 5%;
        margin-left: 2%;
        font-size: 3rem;
	}
}