.player-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 30%;
  margin-bottom: 2rem;
  text-align: center;
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem var(--box-shadow);
  border: 0.5rem solid white;
  color: white;
  font-size: 3.5rem;
  padding: 0.3rem;
  width: 40%;
  height: 7rem;
}
.player-header:hover {
  background-color: var(--hover-background-box-color);
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 var(--hover-background-box-shadow);
  border: 0.5rem solid white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .player-header {
    width: 90%;
    margin-top: 5%;
    margin-left: 2%;
  }
}
@media only screen and (max-width: 1420px) {
  .player-header {
    width: 90%;
    margin-top: 5%;
    margin-left: 2%;
    font-size: 3rem;
  }
}
.players-list-container {
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid white;
  color: white;
  height: 32.5rem;
  width: 93%;
  margin-right: 5rem;
  margin-left: 5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  display: block;
  overflow: scroll;
  scrollbar-width: none;
  font-size: 2rem;
}

::-webkit-scrollbar {
  display: none;
}

scrollbar {
  display: none;
}

.players-list-header {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}

.player-card {
  background-color: var(--player-card);
  font-size: 1rem;
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid white;
  color: white;
  list-style-type: none;
  width: 15rem;
  text-align: center;
  margin: 1rem;
  margin-left: 14%;
}

.player-delete-btn {
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;
  background-color: #E98074;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .players-list-container {
    width: 88%;
    margin-left: 3%;
  }
}
@media only screen and (max-width: 1420px) {
  .players-list-container {
    width: 88%;
    margin-left: 3%;
  }
}
.player-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  margin-left: 5rem;
  font-size: 1.5rem;
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem var(--box-shadow);
  border: 0.5rem solid white;
  color: white;
}

.player-form-btn {
  height: 4rem;
  width: 25%;
  margin: 1rem;
  margin-left: 36%;
  font-size: 1.25rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem var(--box-shadow);
}
.player-form-btn:hover:not([disabled]) {
  background-color: var(--hover-background-box-color);
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 var(--hover-background-box-shadow);
  border: 0.5rem solid white;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  text-align: center;
  width: 80%;
  height: 3.5rem;
  color: white;
  margin-left: 10%;
}
.form-input input {
  margin: 0.2rem;
  padding: 0.5rem;
  box-shadow: 0.5rem 0.5rem var(--box-shadow);
  font-size: 1rem;
}

.team-inputs {
  text-align: center;
}

.skill-inputs {
  text-align: center;
  margin-top: -2%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .player-form-container {
    width: 90%;
    margin-left: 3%;
  }
}
@media only screen and (max-width: 1420px) {
  .player-form-container {
    width: 90%;
    margin-left: 3%;
  }
}
:root {
  --background-box-color: #D83F87;
  --box-shadow: #2A1B3D;
  --hover-background-box-color: rgba(255,0,255);
  --hover-background-box-shadow: rgba(0,255,255);
  --player-card: #44318D;
}

@font-face {
  font-family: "Modeseven";
  src: url(fonts/Modeseven.ttf) format("truetype");
}
* {
  font-family: "Modeseven", "Roboto", "Ubuntu";
}

html {
  font-size: 100%;
}

body {
  background-color: #44318D;
  margin: 0;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .row-wrapper {
    display: flex;
    flex-direction: column;
  }

  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 1420px) {
  .row-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.number-of-players-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  text-align: center;
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem var(--box-shadow);
  border: 0.5rem solid white;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 0.3rem;
  width: 90%;
}
.number-of-players-wrapper p {
  margin-left: 1rem;
  width: 19rem;
}

.player-remove-btn {
  max-width: 2rem;
  max-height: 2rem;
  margin: 0.2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: #E98074;
}

.player-add-btn {
  max-width: 2rem;
  max-height: 2rem;
  margin: 0.2rem;
  margin-top: 1rem;
  background-color: #7db99b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .number-of-players-wrapper {
    width: 88%;
    margin-top: 3%;
    margin-left: 3%;
  }
}
@media only screen and (max-width: 1420px) {
  .number-of-players-wrapper {
    width: 88%;
    margin-top: 3%;
    margin-left: 3%;
  }
}
.btn-confirms-teams {
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid white;
  color: white;
  padding: 0.3rem;
  margin-left: 7%;
  margin-top: 10%;
  height: 10rem;
  font-size: 1.2rem;
}
.btn-confirms-teams[disabled] {
  opacity: 0.6;
}
.btn-confirms-teams:hover:not([disabled]) {
  background-color: var(--hover-background-box-color);
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 var(--hover-background-box-shadow);
  border: 0.5rem solid white;
}

.btn-skill-teams {
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid white;
  color: white;
  padding: 0.3rem;
  margin-top: 10%;
  margin-left: 1%;
  height: 10rem;
  font-size: 1.2rem;
}
.btn-skill-teams[disabled] {
  opacity: 0.6;
}
.btn-skill-teams:hover:not([disabled]) {
  background-color: var(--hover-background-box-color);
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 var(--hover-background-box-shadow);
  border: 0.5rem solid white;
}

.btn-reset {
  height: 4rem;
  width: 6rem;
  background-color: white;
  box-shadow: 0.5rem 0.5rem #2A1B3D;
  margin-left: 1%;
}
.btn-reset:hover {
  background-color: var(--hover-background-box-color);
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 var(--hover-background-box-shadow);
  border: 0.5rem solid #FFF;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .btn-reset {
    position: relative;
    font-size: 90%;
  }

  .btn-confirmsteams {
    margin-left: 3%;
    width: 90%;
  }

  .btn-skill-teams {
    margin-left: 3%;
    width: 90%;
  }
}
@media only screen and (max-width: 1420px) {
  .btn-reset {
    position: relative;
  }

  .btn-confirms-teams {
    margin-left: 3%;
    width: 90%;
  }

  .btn-skill-teams {
    margin-left: 3%;
    width: 90%;
  }
}
.team-header {
  text-align: center;
  color: white;
  font-size: 2rem;
  width: 90%;
  height: 10%;
  margin: 1%;
  margin-top: 3%;
  text-align: center;
}

.team-list {
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid white;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 50%;
  min-height: 20rem;
  height: fit-content;
}

.team-card {
  width: 80%;
  display: block;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid white;
  margin: 3%;
  padding: 0.3rem;
  background-color: #44318D;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .team-list {
    width: 80%;
    margin-left: 2%;
  }

  .team-header {
    font-size: 1.5rem;
  }

  .team-card {
    font-size: 1.25rem;
    margin: 0%;
    margin-left: 0%;
    padding: 0%;
  }
}
@media only screen and (max-width: 1420px) {
  .team-list {
    width: 90%;
    margin-left: 2%;
  }

  .team-header {
    font-size: 1.5rem;
  }

  .team-card {
    width: 95%;
    font-size: 1.25rem;
    margin: 2%;
    margin-left: 0%;
    padding: 0%;
  }
}
.about-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
  margin-left: 15%;
  background-color: var(--background-box-color);
  box-shadow: 0.5rem 0.5rem #2A1B3D;
  border: 0.5rem solid #FFF;
  color: white;
  font-size: 1.5rem;
  padding: 0.3rem;
  width: 70%;
  height: fit-content;
}
.about-page h1 {
  text-align: center;
}
.about-page p {
  width: 60%;
  margin-left: 20%;
}

/*# sourceMappingURL=main.css.map */
