.player-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25rem;
  text-align: center;
  background-color: #D83F87;
  box-shadow: 0.5rem 0.5rem #2A1B3D;
  border: 0.5rem solid #FFF;
  color: white;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  padding: 0.3rem;
  width: 50rem;
  height: 10rem;
}
.player-header:hover {
  background-color: fuchsia;
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 aqua;
  border: 0.5rem solid #FFF;
}

.players-list-container {
  background-color: #D83F87;
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid #FFF;
  color: white;
  height: 33rem;
  width: 25rem;
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  display: block;
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
  font-size: 2rem;
}

::-webkit-scrollbar {
  display: none;
}

scrollbar {
  display: none;
}

.player-card {
  background-color: #44318D;
  font-size: 1rem;
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid #FFF;
  color: white;
  list-style-type: none;
  width: 15rem;
  text-align: center;
  margin: 1rem;
}

.player-form-container {
  background-color: #D83F87;
  box-shadow: 0.5rem 0.5rem #2A1B3D;
  border: 0.5rem solid #FFF;
  color: white;
  height: 33rem;
  width: 40rem;
  display: flex;
  margin-left: 5rem;
  flex-direction: column;
}

.form-field {
  align-self: center;
}

.player-form-btn {
  max-height: 4rem;
  padding: 0.5rem;
  margin: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #FFF;
  border: 0.1rem solid black;
  width: 30rem;
  height: 3.5rem;
  color: black;
  margin-left: 5rem;
}

.team-inputs {
  text-align: center;
}

.player-inputs {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapperz {
  display: flex;
  flex-direction: row;
}

@font-face {
  font-family: "Modeseven";
  src: url(fonts/Modeseven.ttf) format("truetype");
}
* {
  font-family: "Modeseven", "Roboto", "Ubuntu";
}

body {
  background-color: #44318D;
  margin: 0;
}

.number-of-players-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25rem;
  text-align: center;
  background-color: #D83F87;
  box-shadow: 0.5rem 0.5rem #2A1B3D;
  border: 0.5rem solid #FFF;
  color: white;
  font-size: 1rem;
  line-height: 4vh;
  margin-bottom: 2rem;
  padding: 0.3rem;
  width: 30rem;
}

.btn-confirmsteams {
  background-color: #D83F87;
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid #FFF;
  color: white;
  padding: 0.3rem;
  margin: 2rem;
  height: 10rem;
}
.btn-confirmsteams[disabled] {
  opacity: 0.6;
}
.btn-confirmsteams:hover {
  background-color: fuchsia;
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 aqua;
  border: 0.5rem solid #FFF;
}

.btn-skill-teams {
  background-color: #D83F87;
  box-shadow: 0.5rem 0.5rem black;
  border: 0.5rem solid #FFF;
  color: white;
  padding: 0.3rem;
  margin: 2rem;
  height: 10rem;
}
.btn-skill-teams[disabled] {
  opacity: 0.6;
}
.btn-skill-teams:hover {
  background-color: fuchsia;
  color: black;
  box-shadow: 0.5rem 0.5rem 0 0 aqua;
  border: 0.5rem solid #FFF;
}

/*# sourceMappingURL=main.css.map */
