.number-of-players-wrapper{
    display: flex;
	justify-content: center;
    flex-direction: column;
    margin-left: 25rem;
    text-align: center;
	background-color: #D83F87;
    box-shadow: 0.5rem 0.5rem  #2A1B3D;
    border: 0.5rem solid #FFF;
	color: white;
	font-size: 1rem;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	padding: 0.3rem;
  	width: 30rem;

}

.player-remove-btn{

}

.player-add-btn{
	
}