.number-of-players-wrapper{
    display: flex;
	justify-content: center;
    flex-direction: column;
    margin-left: 25rem;
    text-align: center;
	background-color: rgba(0,255,255);
    box-shadow: 0.5rem 0.5rem  rgba(255,0,255);
    border: 0.5rem solid #FFF;
	color: rgba(0,0,0);
	font-size: 1rem;
  	line-height: 4vh;
   	margin-bottom: 2rem;
   	padding: 0.3rem;
  	width: 30rem;

}