.player-form-container{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 35%;
	margin-left: 5rem;
	font-size: 1.5rem;
    background-color: var(--background-box-color);
    box-shadow: 0.5rem 0.5rem var(--box-shadow);
    border: 0.5rem solid white;
    color: white;
}

.player-form-btn{
	height: 4rem;
	width: 25%;
	margin: 1rem;
	margin-left: 36%;
	font-size: 1.25rem;
	background-color: white;
	box-shadow: 0.5rem 0.5rem var(--box-shadow);

	&:hover:not([disabled]) {
        background-color: var(--hover-background-box-color);;
        color: black;
        box-shadow: 0.5rem 0.5rem 0 0 var(--hover-background-box-shadow);
        border: 0.5rem solid white;
	}
}

.form-input{
	display: flex;
	flex-direction: column;
	margin-bottom: 4%;
   	text-align: center;
	width: 80%;  
	height: 3.5rem;
	color: white;
	margin-left: 10%;

	input{
		margin: 0.2rem;
		padding: 0.5rem;
		box-shadow: 0.5rem 0.5rem var(--box-shadow);
		font-size: 1rem;

	}
}

.team-inputs{
	text-align: center;
}

.skill-inputs{
	text-align: center;
	margin-top: -2%;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .player-form-container{
		width: 90%;
		margin-left: 3%;
	}
}

@media only screen  
and (max-width:1420px) {   	

    .player-form-container{
		width: 90%;
		margin-left: 3%;
	}
   
}