.players-list-container{
    background-color: #D83F87;
    box-shadow: 0.5rem 0.5rem black;
    border: 0.5rem solid #FFF;
    color: white;
    height: 33rem;
    width: 93%;
	margin-right: 5rem;
	margin-left: 5rem;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	display: block;
	overflow: scroll;
	scrollbar-width: none;
    font-size: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

scrollbar {
    display: none;
}

.players-list-header{
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

.player-card{
    background-color: #44318D;
    font-size: 1rem;
    box-shadow: 0.5rem 0.5rem black;
    border: 0.5rem solid #FFF;
    color: white;
    list-style-type: none;
    width: 15rem;
    text-align: center;
    margin: 1rem;
    margin-left: 14%;
}

.player-delete-btn{
    width: 2rem;
	height: 2rem;
	margin: 0.2rem;
	background-color: #E98074;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .players-list-container{
		width: 88%;
		margin-left: 3%;
	}
}