.players-list-container{
    background-color: #D83F87;
    box-shadow: 0.5rem 0.5rem black;
    border: 0.5rem solid #FFF;
    color: white;
    height: 33rem;
    width: 25rem;
	margin-right: 5rem;
	margin-left: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	display: block;
	overflow: scroll;
	scrollbar-width: none;
    position: relative;
    font-size: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

scrollbar {
    display: none;
}

// .players-list-header{
//     background-color: #F76C6C;
//     box-shadow: 0.5rem 0.5rem  rgba(255,0,255);
//     border: 0.5rem solid #FFF;
//     color: rgba(0,0,0);
// }

.player-card{
    background-color: #44318D;
    font-size: 1rem;
    box-shadow: 0.5rem 0.5rem black;
    border: 0.5rem solid #FFF;
    color: white;
    list-style-type: none;
    width: 15rem;
    text-align: center;
    margin: 1rem;
}

