:root {
    --background-box-color: #D83F87;
    --box-shadow: #2A1B3D;
    --hover-background-box-color: rgba(255,0,255);
    --hover-background-box-shadow: rgba(0,255,255);
    --player-card: #44318D;
}

@font-face {
    font-family: 'Modeseven';
    src: url(fonts/Modeseven.ttf) format('truetype');
}

*{
    font-family: 'Modeseven', 'Roboto', 'Ubuntu';
}

html { 
    font-size: 100%; 
}

body{
    background-color: #44318D;
    margin: 0;
}


.column-wrapper{
    display: flex;
    flex-direction: column;
}

.row-wrapper{
    display: flex;
    flex-direction: row;
}

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 640px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .row-wrapper{
        display: flex;
        flex-direction: column;
    }
    html { 
        font-size: 50%; 
    }

}

@media only screen  
    and (max-width:1420px) {   	
    .row-wrapper{
        display: flex;
        flex-direction: column;
    }
   
}

