.team-header{
    text-align: center;
	background-color: #D83F87;
    box-shadow: 0.5rem 0.5rem #2A1B3D;
    border: 0.5rem solid #FFF;
	color: white;
	font-size: 2rem;
    width: 50rem;
}

.team-card{
    width: 50rem;
    background-color: #D83F87;
    display: block;
    font-size: 1.5rem;
}

.team-list{
    background-color: #D83F87;
    border: 0.5rem solid #FFF;
}